* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

body {
    background: rgb(214, 250, 246);
    background: linear-gradient(90deg, rgba(214, 250, 246, 1) 0%, rgba(170, 255, 229, 1) 36%, rgba(250, 208, 255, 1) 100%);
}

.head {
    border-radius: 0px 0px 30px 30px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    z-index: 5;
}

.name {
    color: rgb(255, 255, 255);
    /* text-shadow: 2px -2px 25px hwb(178 23% 31%); */
    font-size: xx-large;
    font-weight: 800;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.name:hover{
    color: rgb(227, 227, 227);
}

.tabs {
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

.tabs .tab-item {
    padding-left: 20px;
    color: #ffffff;
    /* text-shadow: 2px -2px 25px rgba(8, 130, 160, 1); */
}

.tab-item:hover{
    color: rgb(227, 227, 227);
}

/* .con{
    height: 80vh;
} */

.con .con-one {
    margin-top:20px ;
    display: flex;
    justify-content: center;
    align-items: center;
}

.kalli {
    background-color: #ffffff;
    border-radius: 50px;
    padding: 30px 20px;
    -webkit-box-shadow: -2px 0px 155px -23px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -2px 0px 155px -23px rgba(0, 0, 0, 0.75);
    box-shadow: -2px 0px 155px -23px rgba(0, 0, 0, 0.75);
}

.kalli .con-head-one{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.kalli .headline {
    padding-top: 20px;
    color: #000000;
    text-shadow: 2px -2px 25px hwb(178 23% 31%);
    font-weight: 800;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: x-large;
}

.con-one img{
    width: 100px;
    margin: auto;
}

.kalli .d-butten {
    background-color: #ffffff;
    box-shadow: 0px 0px 6px 4px rgba(0, 135, 106, 0.1);
    padding: 10px 30px;
    border-radius: 30px;
    text-decoration: none;
    color: #00ddff;
    font-weight: 700;
    font-size: x-large;
}

.d-butten:hover{
    color: #ff0090;
    background-color: #ededed;

}

/* .con-two {
    width: 50%;
} */

.con-two img {
    width: 100%;
    filter: drop-shadow(-32px 42px 100px rgba(0, 0, 0, 0.52));
}

.texts{
    padding-left: 10%;
}

.second img {
    width: 100%;
    filter: drop-shadow(-32px 42px 100px rgba(0, 0, 0, 0.52));
}
